.about-content {
    display: flex;
    color: white;
    max-width: 950px;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
}
h1#about  {
    margin-bottom: 60px;
}

.about-left {
    width: 50%;
    padding-right: 30px;
    text-align: right;
}

.about-right {
    width: 50%;
    text-align: left;
}

.about-photo {
    max-width: 300px;
    height: 400px;
    object-fit: cover;
    object-position: right;
    margin-left: 30px;
}

@media only screen and (max-width: 900px) {
    .about-content {
        flex-direction: column;
        align-items: center;
    }

    .about-left {
        padding-right: 0px;
    }

    .about-photo {
        margin-left: 0px;
        max-width: 150px;
        height: 200px;
    }

    .about-right, .about-left {
        text-align: center;
        width: 100%;
    }
}