.home-page {
  color: black;
  display: flex;
  max-width: 950px;
  margin-right: auto;
  margin-left: auto;
}

.home-left {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: calc(100vh);
  padding-right: 60px;
  width: 60%;
}

.home-left h1 {
  margin: 0 0 20px 0;
  color: white;
  font-size: 3em;
  margin-bottom: 10px;
  padding-top: 0;
}
.home-left h2 {
  margin: 0 0 20px 0;
  color: #F6D43C;
  font-size: 2.5em;
  margin-bottom: 10px;
  padding-top: 0;
}

.home-left h2:last-of-type {
  margin-bottom: 30px;
}

.home-right {
  width: 40%;
  align-items: center;
  display: flex;
  justify-content: center;
}

#home-img {
  max-width: 300px;
  z-index: 2;
}

.blue-box {
  width: 300px;
  height: 420px;
  border: 4px solid cyan;
  position: absolute;
  transform: translate(20px, 15px);
}

.yellow-box {
  width: 300px;
  height: 420px;
  border: 4px solid yellow;
  position: absolute;
  transform: translate(-20px, -15px);
}