/* h1 {
    color: white;
} */

.marquee i {
    color: white;
    font-size: 80px;
    padding: 40px;
}

.marquee p {
    font-size: 20px;
    color: white;
    display: flex;
    flex-direction: column;
}

#skills {
    margin-bottom: 60px;
}