.project {
    color: white;
    display: flex;
    max-width: 750px;
    margin-right: auto;
    margin-left: auto;
    margin: 60px auto 60px auto;
    background-color: rgba(255, 255, 255, .05);
    backdrop-filter: blur(5px);  
    padding: 50px;
}

.project-img {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-description {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.project-description h1 {
    margin: 0;
    color: #0dd0d0;
    padding-top: 0;
}

.project-description h3 {
    margin-bottom: 0;
} 

.odd {
    align-items: flex-start;
    margin-left: 10%;
}

.odd h3,
.odd i {
    text-align: left;
}

.even {
    align-items: flex-end;
    margin-right: 10%;
}

.even h3,
.even i {
    text-align: right;
}

.project-buttons {
    display: flex;
    align-items: center;
}

.odd .project-buttons a {
    margin-right: 15px;
}

.even .project-buttons a {
    margin-left: 15px;
}

.github-logo {
    height: 45px;
    filter: invert(100%);
}

.new-window-link {
    height: 35px;
    filter: invert(100%);
}

.youtube-logo {
    height: 35px;
}

.mockup {
    width: 100%;
}