.App {
  text-align: center;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

:root {
  --primary: rgb(14, 80, 150);
  --secondary: red;
  --teriary: green;
  --primary-text: white;
  --secondary-text: white;
  --tertiary-text: black;
}

.page {
  min-height: calc(100vh - 80px);

}
